/* Background */

.md-main {
    background: #0f172a;
}

/* Hero Section */

.hero {
    text-align: center;
    padding: 80px 20px;
    border-radius: 25px;

    background: linear-gradient(135deg,
            #0f172a,
            #1e1b4b,
            #1e3a8a);

    margin-bottom: 60px;
}

.hero h1 {
    font-size: 64px;
    font-weight: 800;
    color: white;
    margin-top: 20px;
}

.hero p {
    font-size: 22px;
    color: #cbd5e1;
}

/* Badge */

.hero-badge {
    display: inline-block;
    padding: 12px 25px;

    border: 1px solid #334155;

    border-radius: 999px;

    color: white;

    margin-bottom: 25px;
}

/* Buttons */

.hero-buttons {
    margin-top: 40px;
}

.btn-primary {
    display: inline-block;
    padding: 14px 35px;
    background: #3b82f6;
    color: white !important;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-secondary {
    display: inline-block;
    padding: 14px 35px;
    border: 1px solid #475569;
    color: white !important;
    border-radius: 12px;
    text-decoration: none;
}

/* Cards */

.cards {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(280px, 1fr));

    gap: 25px;
}

.card {
    background: #111827;

    border: 1px solid #1e293b;

    border-radius: 18px;

    padding: 30px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #3b82f6;
}

.card h2 {
    color: white;
}

.card p {
    color: #94a3b8;
}

.card a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

/* Sidebar */

.md-nav {
    font-size: 15px;
}

.md-sidebar {
    width: 280px;
}